* {
    /* width: 100%; */
}
/* main body styles */

body{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #1D1D1D;
    font-family: 'Roboto', sans-serif;
}


/* header */

header{
    position: fixed;
    width: 8.5%;
    height: 100vh;
    margin-right: 40px;
    color: #8D8D8D;
    text-align: center;
    background-color: #181818;
}

/* home button */

#homeButton{
    text-decoration: none;
    color: white;
}

/* logo area inside navbar */

#logoArea{
    background-color: #000;
    text-align: center;
    color: #fff;
    height: 180px;
}

#logoArea img{
    width: 100px;
    height: 120px;
    margin-bottom: -10px;
}


/* unordered list inside navbar */

.navbarItems{
    align-items: flex-start;
    margin-left: -40px;
    padding-top: 15px;
}

.li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #8D8D8D;
}

.li:hover, #i1:hover, #i2:hover, #i3:hover{
    color: #08fdd8;
}

hr{
    background-color: #353333; 
    height: 1px; 
    border: 0;
}

/* icons area */

#social-Icons{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

#social-Icons a{
    color: #8D8D8D;
}

/* Hamburger menu */

/* #hamburger-input{
    display: none;
  }
  
  #hamburger-menu {
      position: fixed;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
      display: none;
      border: none;
      padding: 0px;
      margin: 0px;
      font-family: 'Cabin', Sans-serif;
      background: linear-gradient(
        to bottom, 
        #3D0E61, #3D0E61 20%, 
        white 20%, white 40%, 
        #3D0E61 40%, #3D0E61 60%, 
        white 60%, white 80%, 
        #3D0E61 80%, #3D0E61 100%
      );
  }
  
  #hamburger-menu #sidebar-menu {
      visibility: hidden;
      position: fixed;
      top: 0;
      left: -250px;
      width: 200px;
      height: 100%;
      background-color: #3D0E61;
      transition: 0.3s;
      padding: 0px 10px;
      box-sizing: border-box;
  }
  
  #hamburger-menu h3 {
    color: #B9FAF8;
    font-size: 2.2rem;
  }
  
  #hamburger-menu ul {
    padding-left: 0px;
  }
  
  #hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
  }
  
  #hamburger-menu a {
    color: #B9FAF8;
    font-size: 1.3rem;
    text-decoration: none;
  }
  
  #hamburger-menu a:hover {
    text-decoration: underline;
  }
  
  #hamburger-input:checked + #hamburger-menu #sidebar-menu {
      visibility: visible;
      left: 0;
  }
  #hamburger-input:checked ~ .overlay{
     visibility: visible;
    opacity: 0.4;
  } */


  label .menu {
    position: absolute;
    display: none;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #000;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
    
  }
  
  label .hamburger {
    position: absolute;
    top: 130px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #69D2e7;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #69d2e7;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; }
  
  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    
  }
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }
  
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    
  }
  
  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
    
  }
  
  label input:checked + .menu + ul { opacity: 1; }
  
  label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: #f38630;
    text-decoration: none;
    
  }


/* main body area */

#mainBody{
    color: #fff;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    width: 90%;
    justify-content: space-between;
    display: flex;
    height: 500px;
}

#allMainBody{
    padding-left: 200px;
    width: 100%;
}

#mainBody h1{
    font-size: 85px;
    font-size: 4rem;
    font-weight: 400;  
}

/* contact button */

#button{
    color: #08fdd8;
    padding: 20px 60px;
    border: 1px solid #08fdd8;
    text-decoration: none;
}


/* About me Section */

#aboutMe{
    margin-right: 10%;
    margin-top: 150px;
}

#aboutMe h2{
    font-size: 60px;
    font-weight: 400;
    color: white;
    float: right;
    border: 2px solid #08fdd8;
    border-left: 0;
    border-bottom: 0;
    padding-top: 15px;
    padding-right: 20px;
    width: 260px;
    margin-bottom: 35px;
}

#disappear-section2{ 
    width: 100%;
    height: 440px;
    display: flex;
    border-bottom: 2px solid #08fdd8;
}

#profilepic{
    width: 400px;
    height: 438px; 
    box-shadow: #fff;
    border-bottom: 0;
}

#disappear-section2 p{
    text-align: right;
    padding: 30px;
    padding-bottom: 0;
    color: #CCD6F6;
    height: 410px;
    margin-top: 0;
    line-height: 20px;
}

/* my skills */

#skillStack{
    margin-top: 150px;
    color: #fff;
    width: 90%;
    height: 550px;
    padding-top: 20px;
    margin-bottom: 90px;
}

#skillStackHeader{
    text-align: center;
    margin-bottom: 80px;
}

#skillStackHeader H2{
    font-size: 50px;
    margin-bottom: 0;
}

.line{
    display: inline-block;
    width: 60px;
    height: 2px;
    background: #08fdd8;  
    vertical-align: middle; 
}

#line1 {
    margin-right: 20px;
}

#line2{
    margin-left: 20px;
}

.skillCategory{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}

.skill{
    text-align: left;
    width: 80%;
    padding: 20px 40px 40px 30px;
    height: 240px;
    height: max-content;
    min-height: 16rem;
    padding-left: 75px;
    background-color: #212529;
    border-top: #e31f71 8px solid;
    border-radius: 5px 5px 3px 3px;
    transition: background-color 0.3s ease-in-out;
}

#skillContent{
    border-top: #8838b4 8px solid;
}

.skill:hover{
    background-color: #08fdd8;
    color: #000;
}

.skillH1{
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 0; 
}

#skillButton{
    margin-top: 90px;
    text-align: center;
}

.skill ol{
    list-style: none;
    text-align: left;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.list{
    color: #8D8D8D;
    margin-top: 5px;
    width: 50%;
}

/* Portfolio Area */

#myPortfolio{
    margin-top: 250px;
}

#myPortfolio H2{
    font-size: 60px;
    font-weight: 400;
    color: white;
    border: 2px solid #08fdd8;
    border-right: 0;
    border-bottom: 0;
    padding-top: 15px;
    padding-left: 20px;
    width: 360px;
    margin-bottom: 35px;
}

#overheadGallery{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}

.card-container{
    width: 400px;
    height: 510px;
    height: max-content;
    color: white;
    padding: 40px 20px 40px 20px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #272727;
}

.cardImg{
    height: 15rem;
    width: 350px;
    border-radius: 20px;
}

.card-sub-text{
    text-align: left;
    margin-left: 20px;
    line-height: 20px;
}

.card-sub-text {
    font-size: 14px;
}

.techy{
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: #e31f71;
    color: #CCD6F6;
}

#tech-button{
    width: 100px;
    border: 1px solid #e31f71;
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 20px;
}

#tech-button a{
    text-decoration: none;
    color: #8D8D8D;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .gallery{
    display: flex;
    width: 100%;
    gap: 10px;
} */

.galleryImg{
    height: 500px;
    width: 30%;
    border-radius: 5px;
}

#no1{
    display: none;
}

#imgno1:hover + #no1{
    display: block;
}

/* Contact Area */

#contact{
    color: white;
    margin-top: 150px;
    display: flex;
}

#formForm{
    width: 60%;
}

#formHeader{
    margin-top: 6%;
    margin-right: 47px;
}

#fullName{
    width: 580px;
    height: 40px;
    border-radius: 15px;
    border: 1px white solid;
    padding-left: 15px;
    background-color: #1D1D1D;
    color: #8D8D8D;
}

#formInputSpan{
    margin-top: 20px;
}

.inputSpan{
    width: 270px;
    height: 40px;
    border-radius: 15px;
    border: 1px white solid;
    background-color: #1D1D1D;
    padding-left: 15px;
    color: #8D8D8D;
}

#email{
    margin-right: 15px;
}

#message{
    width: 580px;
    border-radius: 15px;
    padding: 10px 0 0 15px;
    border: 1px white solid;
    background-color: #1D1D1D;
    color: #8D8D8D;
}

#messageBox{
    margin-top: 20px;
}

#submit{
    color: #08fdd8;
    padding: 20px 60px;
    border: 1px solid #08fdd8;
    text-decoration: none;
    background-color: #1D1D1D;
    margin-top: 20px;
    margin-bottom: 90px;
}

/* Shapes */

.shapes{
    display: flex;
    width: 80%;
    justify-content: space-around;
    position: absolute;
}

.shapes img{
    opacity: 0.1;
    width: 40px;
    height: 35px;
    animation: shapes 7s linear infinite;
}

@keyframes shapes{
    0%{
        transform: translateY(0);
        opacity: 0;
    }

    50%{
        
        opacity: 0.3;
    }

    70%{
        
        opacity: 0.5;
    }

    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.shapes img:nth-child(1){
    animation-delay: 2s;
    width: 200px;
    height: 150px;
}

.shapes img:nth-child(2){
    animation-delay: 0.5s;
    width: 70px;
    height: 60px;
}

.shapes img:nth-child(3){
    animation-delay: 3s;
    width: 40px;
    height: 30px;
}

.shapes img:nth-child(4){
    animation-delay: 1s;
    width: 55px;
}

.shapes img:nth-child(5){
    animation-delay: 5s;
    width: 100px;
    height: 90px;
}

.shapes img:nth-child(6){
    animation-delay: 2.5s;
    width: 80px;
    height: 70px;
}


/* Responsiveness */

@media screen and (max-width: 768px) {
    
    /* header */

    #allMainBody{
        overflow-x: hidden;
    }
    
    header{
        width: 100%;
        height: 0;
        top: 0;
    }

    .navbarItems, #social-Icons{
        display: none;
    }

    label .menu{
        display: block;
    }

    #logoArea{
        text-align: left;
        height: 60px;
    }

    #homeButton{
        display: none;
    }
    
    #logoArea img{
        width: 50px;
        height: 52px;
        
    }

    /* #main-menu {
        display: none;
      } */
      #hamburger-menu {
        display: inline;
      }

    /* mainbody area */
    
    #allMainBody{
        width: 100%;
        padding: 0;
        max-width: 100%;
        box-sizing: border-box;
    }

    /* hero area */

    #mainBody{
        flex-direction: column;
    }

    #mainBody h1{
        font-size: 36px;
        line-height: 50px;
        font-weight: 200;
        text-align: center;
    }

    #dancingBoy img{
        content: url(/images/dancing-boy-responsive.gif);
    }

    #buttonDiv{
        text-align: center;
    }

    /* About me area */

    #aboutMe{
        width: 100%;
        text-align: center;
    }

    #aboutMe h2{
        font-size: 36px;
        font-weight: 400;
        color: white;
        border: none;
        width: 100%;
        padding-right: 0;
        float: unset;
        text-align: center; 
        margin-bottom: 35px;
    }

    #disappear-section2{ 
        width: 100%;
        display: unset;
    }
    
    #profilepic{
        width: 80%;
        height: 450px;
        border-radius: 5px;
    }
    
    #disappear-section2 p{
        text-align: center;
        
    }

    /* Skill Area */

    #skillStack{
        /* width: 80%;
        display: flex; */
        /* flex-direction: column; */
        /* align-items: center;
        justify-content: center; */
        margin-top: 150px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    /* #skillStack{
        margin-top: 150px;
        color: #fff;
        width: 90%;
        height: 550px;
        padding-top: 20px;
        margin-bottom: 90px;
    } */
    
    #skillStackHeader H2{
        font-size: 30px;
    }
    
    .skillCategory{
        flex-direction: column;
        /* justify-content: ; */
        /* align-items: center; */
    }

    /* .skillCategory{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
        margin-top: 30px;
    } */

    .skill{
        width: 80%;
        /* text-align: unset; */
        padding-bottom: 60px;
        /* margin-left: 8%; */
    }

    /* .skill{
        text-align: left;
        width: 80%;
        padding: 20px 40px 40px 30px;
        height: 240px;
        padding-left: 75px;
        background-color: #212529;
        border-top: #e31f71 8px solid;
        border-radius: 5px 5px 3px 3px;
    } */

    /* Portfolio */
    
    #myPortfolio{
        margin-top: 600px;
    }

    #myPortfolio h2{
        border: none;
        text-align: center;
        width: unset;
        font-size: 36px;
        padding: unset;
    }

    #overheadGallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .gallery{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    
    .galleryImg{
        width: 80%;
        margin-left: 10%;
    }

    .card-container{
        width: 80%;
        height: 450px;
        color: white;
        padding: 40px 20px 40px 20px;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 20px;
        background-color: #272727;
    }
    
    .cardImg{
        height: 300px;
        width: 80%;
        border-radius: 20px;
    }

    /* Contact */

    #contact{
        margin-top: 200px;
        display: block;
    }
    
    #formForm{
        width: 80%;
        margin-left: 8%;
    }
    
    #formHeader{
        margin-left: 8%;
    }

    #formHeader h2{
        text-align: center;
        text-decoration: #08fdd8 underline;
    }

    #formHeader h2 span{
        display: none;
    }

    #formHeader p{
        text-align: center;
    }
    
    #fullName{
       width: 100%;
       margin-top: 40px;
    }
    
    #formInputSpan{
        
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    
    .inputSpan{
        width: 100%;
    }
    
    #message{
        width: 100%;
    }
    
    #messageBox{
        margin-top: 20px;
    }
    
    #submit{
        margin-left: 30%;
        margin-top: 50px;
    }
    
}
